<div class="p-grid p-mt-6 p-justify-center centered-grid"></div>
<div class="p-grid p-mt-6 p-justify-center centered-grid"></div>
<div class="p-grid p-mt-6 p-justify-center centered-grid">
  <div class="p-col">
    <p-card class="flat-card">
      <div class="p-card-header">
        <div class="p-grid p-justify-center">
          <h1>
            <strong>
              Zahtevi
            </strong>
          </h1>
        </div>
      </div>
      <div class="p-grid p-mt-3 p-justify-center centered-grid"></div>
      <p-table 
        id="zahtevi-table" 
        #dt 
        *ngIf="zahtevi" 
        [value]="zahtevi" 
        [editable]="true" 
        [paginator]="false"
        [rows]="10" 
        [responsive]="true" 
        [showCurrentPageReport]="true"
        styleClass="p-datatable-categoriesPage p-datatable-gridlines"
        currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries" 
        [globalFilterFields]="['name']">
        <ng-template pTemplate="header">
          <tr>
            <th>Organ vlasti</th>
            <th>Sediste organa</th>
            <th>Datum zahteva</th>
            <th>Mesto zahteva</th>
            <th>Akcije</th>
            <th>Zalba cutanje</th>
            <th>Zalba na odluku</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-zahtev>
          <tr>
            <td>
              {{ zahtev['za:Organ']['co:Naziv']['_text'] }}
            </td>
            <td>
              {{ zahtev['za:Organ']['co:Sediste']['co:Mesto']['_text'] }}
              
              {{ zahtev['za:Organ']['co:Sediste']['co:Ulica']['_text'] }}
              
              {{ zahtev['za:Organ']['co:Sediste']['co:Broj']['_text'] }}
            </td>
            <td>
              {{ zahtev['za:OstaliPodaci']['co:Datum']['_text'] }}
            </td>
            <td>
              {{ zahtev['za:OstaliPodaci']['co:Mesto']['_text'] }}
            </td>
            <td>
              <div class="p-grid p-justify-center">
                <button 
                  id="show-zahtev-dialog-button" 
                  pButton 
                  label="Pregledaj zahtev" 
                  icon="pi pi-external-link"
                  class="p-button-secondary p-button-rounded p-justify-right p-button-sm  p-mr-6 p-mb-2"
                  (click)="showZahtev(zahtev.id)"
                ></button>
                <button 
                  id="show-zahtev-dialog-button" 
                  pButton 
                  label="Eksportuj XHTML" 
                  icon="pi pi-external-link"
                  class="p-button-secondary p-button-rounded p-justify-right p-button-sm  p-mr-2 p-mb-2"
                  (click)="showXHTMLZahtev(zahtev.id)"
                ></button>
                <button 
                  id="show-zahtev-dialog-button" 
                  pButton 
                  label="Eksportuj PDF" 
                  icon="pi pi-external-link"
                  class="p-button-secondary p-button-rounded p-justify-right p-button-sm  p-mr-2 p-mb-2"
                  (click)="showPDFZahtev(zahtev.id)"
                ></button>
              </div>
            </td>
            <td>
              <div class="p-grid p-justify-center">
                <a 
                  *ngIf="zahtev.expired" 
                  id="show-zahtev-dialog-button" 
                  pButton label="Podnesi Zalbu" 
                  icon="pi pi-external-link"
                  class="p-button-danger p-button-rounded p-justify-right p-button-sm p-mb-2" 
                  [href]="zalbaCutanjeLink + zahtev.id"
                  target="_blank"
                ></a>
                <p *ngIf="!zahtev.expired">
                  Jos uvek ne mozete podneti zalbu na cutanje.
                </p>
              </div>  
            </td>
            <td>
              <p *ngIf="zahtev.prihvacen === undefined">
                Odluka za zahtev jos uvek nije doneta
              </p>
              <p *ngIf="zahtev.prihvacen === true">
                Zahtev Vam je odobren i obavestenje poslato na email.
              </p>
              <div *ngIf="zahtev.prihvacen === false">
                Zahtev vam je odbijen.
                <a
                  pButton label="Podnesi Zalbu" 
                  icon="pi pi-external-link"
                  class="p-button-danger p-button-rounded p-justify-right p-button-sm p-mb-2" 
                  [href]="zalbaNaOdlukuLink + zahtev.id"
                  target="_blank"
                ></a>
              </div>
            </td>
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>

<p-confirmDialog></p-confirmDialog>
<p-dialog header="New information" [(visible)]="displayMessage">
  <p>{{newInfoMessage()}}</p>
  <ng-template pTemplate="footer">
    <p-button icon="pi pi-check" (click)="displayMessage=false" label="Ok" styleClass="p-button-text"></p-button>
  </ng-template>
</p-dialog>
