<div class="p-grid p-mt-6 p-justify-center centered-grid"></div>
<div class="p-grid p-mt-6 p-justify-center centered-grid"></div>
<div class="p-grid p-mt-6 p-justify-center centered-grid">
  <div class="p-col">
    <p-card class="flat-card">
      <div class="p-card-header">
        <div class="p-grid p-justify-center">
          <h1>
            <strong>
              Zahtevi
            </strong>
          </h1>
        </div>
      </div>
      <app-zahtev-metadata-search></app-zahtev-metadata-search>
      <div class="p-grid p-mt-3 p-justify-center centered-grid"></div>
        <p-table
          id="zahtevi-table"
          #dt 
          *ngIf="zahtevi"
          [value]="zahtevi"
          [editable]="true"  [paginator]="false" [rows]="10" [responsive]="true"
          [showCurrentPageReport]="true"
          styleClass="p-datatable-categoriesPage p-datatable-gridlines"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
          [globalFilterFields]="['name']"
        >
        <ng-template pTemplate="header">
          <tr>
            <th>Ime i prezime trazioca</th>
            <th>Adresa trazioca</th>
            <th>Datum zahteva</th>
            <th>Mesto zahteva</th>
            <th>Eksport</th>
            <th>Akcije</th>
          </tr>
        </ng-template>
        <ng-template 
        id="categories-table-item" 
        pTemplate="body" 
        let-zahtev
        >
          <tr>
            <td>
              {{ zahtev['za:TrazilacInformacija']['co:Ime']['_text'] }}
              {{ zahtev['za:TrazilacInformacija']['co:Prezime']['_text'] }}
            </td>
            <td>
              {{ zahtev['za:TrazilacInformacija']['co:Adresa']['co:Mesto']['_text'] }}
              
              {{ zahtev['za:TrazilacInformacija']['co:Adresa']['co:Ulica']['_text'] }}
              
              {{ zahtev['za:TrazilacInformacija']['co:Adresa']['co:Broj']['_text'] }}
            </td>
            <td>
              {{ zahtev['za:OstaliPodaci']['co:Datum']['_text'] }}
            </td>
            <td>
              {{ zahtev['za:OstaliPodaci']['co:Mesto']['_text'] }}
            </td>
            <td>
              <div class="p-grid p-justify-center">
                <button 
                  id="show-zahtev-dialog-button" 
                  pButton 
                  label="Pregledaj zahtev" 
                  icon="pi pi-external-link"
                  class="p-button-secondary p-button-rounded p-justify-right p-button-sm  p-mr-6 p-mb-2"
                  (click)="showZahtev(zahtev.id)"
                ></button>
                <button 
                  id="show-zahtev-dialog-button" 
                  pButton 
                  label="Eksportuj XHTML" 
                  icon="pi pi-external-link"
                  class="p-button-secondary p-button-rounded p-justify-right p-button-sm  p-mr-2 p-mb-2"
                  (click)="showXHTMLZahtev(zahtev.id)"
                ></button>
                <button 
                  id="show-zahtev-dialog-button" 
                  pButton 
                  label="Eksportuj PDF" 
                  icon="pi pi-external-link"
                  class="p-button-secondary p-button-rounded p-justify-right p-button-sm  p-mr-2 p-mb-2"
                  (click)="showPDFZahtev(zahtev.id)"
                ></button>
              </div>
            </td>
            <td>
              <div *ngIf="zahtev.prihvacen === undefined">
                <div class="p-grid p-justify-center">
                  <button
                    id="show-update-zahtev-form-button"
                    pButton 
                    label="Prihvati zahtev"
                    icon="pi pi-check" 
                    class="p-button-success p-button-rounded p-justify-left p-button-sm p-mr-2 p-mb-2"
                    (click)="showAcceptForm(zahtev)"
                  ></button>
                  <button 
                    id="show-delete-zahtev-dialog-button"
                    pButton
                    label="Odbij zahtev"
                    icon="pi pi-times" 
                    class="p-button-danger p-button-rounded p-justify-right p-button-sm p-mr-2 p-mb-2"
                    (click)="showRejectDialog(zahtev.id)"
                  ></button>
                </div>
              </div>
              <p *ngIf="zahtev.prihvacen === true">
                Zahtev je prihvacen.
              </p>
              <p *ngIf="zahtev.prihvacen === false">
                Zahtev je odbijen.
              </p>
            </td>
            
          </tr>
        </ng-template>
      </p-table>
    </p-card>
  </div>
</div>

<p-dialog header="Odbijanje zahteva" [(visible)]="displayMessage">
  <p>Unesite razlog odbijanja:</p>
  <textarea [(ngModel)]="odbijenZahtevRazlog"></textarea>
  <ng-template pTemplate="footer">
    <button pButton icon="pi pi-check" (click)="odbijZahtev()" label="Posalji" styleClass="p-button-success"></button>
  </ng-template>
</p-dialog>